#topbar{
	background-color: black;
	height: 10px;
	width: 100%
}
body{background-color: white;
}
#container{
	background-color: green;
	height: 700px;
	width: 70%;
	margin: 0px auto;
}
#header{
	height: 80px;
	background-color: white;
}
#header img{
	height: 80px;
}	